@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
$colorprincipal:#F4980A;
$colorhover: rgba(255, 255, 255, 0.801);
$Color-gris: #adadad;
$fontsizetitulos: 30px;
$fontsizetexto: 16px;

@import "header";
@import "main";
@import "footer";
@import "media-queries";